body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 20rem;
    justify-content: center;
    background:hsl(216, 50%, 16%);
    border-radius: 10px;
    align-content: center;
    align-items: center;
    box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2)
}

.container {
    padding: 20px;
}

h1 {
    color:hsl(0, 0%, 100%);
    font-family: "Outfit";
    font-size: 21px;
    font-weight: 600;
}

p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-family: "Outfit";
    font-weight:lighter ;
}

img {
    border-radius: 2%;
    max-width: 100%;
    max-height: 100%;
}

.counters {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.timer {
    color: hsl(178, 100%, 50%);
    font-weight: bold;
}

.date {
    color:hsl(215, 51%, 70%);
}

.avatar {
    display: inline;
    width: 30px;
    height: 30px;
}

hr     { 
  width: 100%;
  margin-bottom: 15px;  
  background-color:hsl(215, 51%, 70%, 0.25);
  border: 0.5px;
  height: 0.5px;
}

.credits {
    font-size: 15px;
    font-family: "Outfit";
    color: hsl(215, 51%, 70%);
    margin-left: 10px;
} 

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.attribution {
    color: white;
    padding-bottom: 10px;

}

.attribution a {
    color: royalblue;
}

strong {
    color: white;
}
